/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.about-right{
		padding: 0 30px 0 30px;
	}
	.our-team{
		padding-bottom: 100px;
	}
	.our-team .underline{
		left: 44.8%;
	}
	.our-services .underline{
		left: 44.8%;
	}
	.our-clients .underline{
		left: 44.8%;
	}
	.our-work .underline{
		left: 44.8%;
	}
	.testimonials .underline{
		left: 44.8%;
	}
	.contact-us .underline{
		left: 44.8%;
	}
	.our-clients .lancome,
	.our-clients .lacoste{
		margin-top: 30px;
	}
	.our-work p.about{
		margin-bottom: 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu li{
		padding: 0 20px 0 0;
	}
	.navbar-header{
		padding: 0;
	}
	.about-left img{
		margin: 0 auto;
	}
	.about-right{
		text-align: center;
		margin-top: 100px;
		padding: 0 15px 0 15px;
	}
	.about-right ul{
		text-align: justify;
	}
	.our-team .item-3,
	.our-team .item-4{
		margin-top: 100px;
	}
	.our-team .underline{
		left: 44%;
	}
	.our-services .underline{
		left: 44%;
	}
	.our-clients .underline{
		left: 44%;
	}
	.our-work .underline{
		left: 44%;
	}
	.testimonials .underline{
		left: 44%;
	}
	.contact-us .underline{
		left: 44%;
	}
	.our-services .item-3,
	.our-services .item-4{
		margin-top: 100px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo{
		line-height: 60px;
		margin-left: 20px;
	}
	.menu{
		padding-top: 10px;
		background-color: #262626;
	}
	.menu-btn{
		width: 35px;
		height: 35px;
		border: 2px solid #fff;
		color: #fff;
		margin-top: 13px;
	}
	.menu-btn i{
		position: relative;
		top: -10px;
	}
	.menu li{
		display: block;
		text-align: center;
		padding: 7px 0 7px 0;
	}
	.menu li:hover{
		background-color: #999;
	}
	.menu li a:hover{
		border-bottom: none;
	}	
	nav{
		line-height: 35px;
	}
	.title-block{
		margin-top: 200px;
	}
	.our-team .item-1,
	.our-team .item-2{
		margin-top: 100px;
	}
	.our-team .underline{
		left: 43.4%;
	}
	.our-services .underline{
		left: 43.4%;
	}
	.our-clients .underline{
		left: 43.4%;
	}
	.our-work .underline{
		left: 43.4%;
	}
	.testimonials .underline{
		left: 43.4%;
	}
	.contact-us .underline{
		left: 43.4%;
	}
	.our-services .item-1,
	.our-services .item-2{
		margin-top: 100px;
	}
	.our-clients .lancome,
	.our-clients .lacoste{
		margin-top: 0;
	}
	.our-clients img{
		margin-bottom: 25px;
	}
	.contact-us .form-1,
	.contact-us .form-2, 
	.contact-us .form-3{
		padding: 0 15px 0 15px;
		margin: 0 auto;
	}
	.contact-us #submit{
		float: none;
	}
	.contact-us .form-1,
	.contact-us .form-2{
		margin-bottom: 25px;
	}
}

@media only screen and (max-width : 555px) {
	.title-block h1{
		margin-bottom: 40px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.our-team .underline{
		left: 39%;
	}
	.our-services .underline{
		left: 39%;
	}
	.our-clients .underline{
		left: 39%;
	}
	.our-work .underline{
		left: 39%;
	}
	.testimonials .underline{
		left: 39%;
	}
	.contact-us .underline{
		left: 39%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.menu li:last-child{
		padding: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}