*{
	margin: 0;
	padding: 0;
}
a,
a:focus,
a:hover{
	text-decoration: none;
}
li{
	list-style: none;	
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

/* HEADER */

header{
	height: 790px;
	background: #111; 
	width: 100%;
	display: flex;
}
nav{
	height: 130px;
	line-height: 130px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.navbar-header{
	padding: 0 0 0 15px;
}
.logo{
	line-height: 130px;
	padding: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
a.logo:hover{
	color: #fff;
}
.menu li{
	display: inline-block;
	padding: 0 35px 0 0;
}
.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}
.menu li a:hover{
	border-bottom: 3px solid #fcac45;
}
.title-block{
	color: #fff;
	text-align: center;
	margin-top: 295px;
}
.title-block h1{
	font-size: 44px;
	font-weight: 300;
	color: #999;
	margin: 0 0 20px 0;
}
.title-block h1 span{
	color: #fcac45;
	font-weight: 700;
}
.title-block p{
	font-size: 20px;
}

/* ABOUT-US SECTION */

.about-us{
	margin: 100px 0;
}
.about-right{
	margin-top: 5px;
	padding: 0 60px 0 80px;
}
.about-right h1{
	display: inline-block;
	font-size: 34px;
	text-transform: uppercase;
	border-bottom: 4px solid #fcac45;
	padding-bottom: 10px;
}
.about-right h1 span{
	font-weight: 700;
}
.about-right p{
	color: #6c6c6c;
	font-size: 18px;
	margin-top: 20px;
}
.about-right ul{
	margin-top: 40px;
}
.about-right ul li{
	color: #6c6c6c;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 8px;
}
.about-right ul li img{
	margin-bottom: 4px;
}
.about-right ul li span{
	font-weight: 600;
	font-style: normal;
}
/* OUR-TEAM SECTION */

.our-team{
 	background-color: #070707; 
	/* height: 730px; */
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 100px 0 170px 0;
}
.our-team h1{
	font-size: 44px;
	padding-bottom: 30px;
}
.underline{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 45.5%;
	margin-bottom: 105px;
}
/* .our-team img{
 	padding-bottom: 10px;
 } */ 
.our-team h4{
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
}
.our-team p{
	padding-top: 40px;
}
.our-team .position{
	font-size: 16px;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
/* .back{
	width: 128px;
	height: 127px;
	background: red;
	border-radius: 50%;
	opacity: 0;
} */
.our-team img:hover{
	border: 3px solid #fcac45;
	border-radius: 50%;
	margin: -3px;
	cursor: pointer;
}
.our-team h4:hover{
	text-decoration: underline;
	cursor: pointer;
}


