*{
	margin: 0;
	padding: 0;
}
a,
a:focus,
a:hover{
	text-decoration: none;
}
li{
	list-style: none;	
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.about{
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	color: #6c6c6c;
}

/* HEADER */

header{
	height: 790px;
	background: #111; 
	width: 100%;
	display: flex;
}
nav{
	height: 130px;
	line-height: 130px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.navbar-header{
	padding: 0 0 0 15px;
}
.logo{
	line-height: 130px;
	padding: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
a.logo:hover{
	color: #fff;
}
.menu li{
	display: inline-block;
	padding: 0 35px 0 0;
}
.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}
.menu li a:hover{
	border-bottom: 3px solid #fcac45;
}
.title-block{
	color: #fff;
	text-align: center;
	margin-top: 295px;
}
.title-block h1{
	font-size: 44px;
	font-weight: 300;
	color: #999;
	margin: 0 0 20px 0;
}
.title-block h1 span{
	color: #fcac45;
	font-weight: 700;
}
.title-block p{
	font-size: 20px;
}

/* ABOUT-US SECTION */

.about-us{
	margin: 100px 0;
}
.about-right{
	margin-top: 5px;
	padding: 0 60px 0 80px;
}
.about-right h1{
	display: inline-block;
	font-size: 34px;
	text-transform: uppercase;
	border-bottom: 4px solid #fcac45;
	padding-bottom: 10px;
}
.about-right h1 span{
	font-weight: 700;
}
.about-right p{
	color: #6c6c6c;
	font-size: 18px;
	margin-top: 20px;
}
.about-right ul{
	margin-top: 40px;
}
.about-right ul li{
	color: #6c6c6c;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 8px;
}
.about-right ul li img{
	margin-bottom: 4px;
}
.about-right ul li span{
	font-weight: 600;
	font-style: normal;
}

/* OUR-TEAM SECTION */

.our-team{
 	background-color: #070707; 
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 100px 0 170px 0;
}
.our-team h1{
	font-size: 44px;
	padding-bottom: 30px;
}
.underline{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 45.5%;
	margin-bottom: 105px;
}
.our-team h4{
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
}
.our-team p{
	padding-top: 40px;
}
.our-team .position{
	font-size: 16px;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
.our-team img:hover{
	border: 3px solid #fcac45;
	border-radius: 50%;
	margin: -3px;
	cursor: pointer;
}
.our-team h4:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* OUR-SERVICES SECTION */

.our-services{
	padding: 100px 0;
	text-align: center;
	color: #222;
}
.our-services h1{
	font-size: 44px;
	padding-bottom: 30px;
}
.our-services .underline{
	margin-bottom: 55px;
}
.our-services .about{
	margin: 0 10px 100px 10px; 
}
.border{
	position: relative;
	height: 113px;
	width: 113px;
	border: 3px solid #fcac45;
	border-radius: 50%;
	margin: 0 auto;
}
.image-wrap{
	position: absolute;
	top: 3px;
	left: 3px;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: #d7d7d7;
	opacity: 0;
}
.our-services .border:hover .image-wrap{
	opacity: .5;
	margin: -3px;
	cursor: pointer;
}
.our-services .border img{
	position: relative;
	top: 29px;
}
.our-services .border img:hover{
	cursor: pointer;
}
.our-services h4{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 30px 0 20px 0;
}
.our-services h4:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* OUR-CLIENTS SECTION */

.our-clients{
	background-color: #0b0b0b;
	padding: 100px 0 210px 0;
}
.our-clients h1{
	font-size: 44px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}
.our-clients span{
	font-weight: 600;
}
.our-clients .zara{
	padding-top: 4px;
}
.our-clients .lancome{
	margin-top: -2px;
}

/* OUR-WORK SECTION */

.our-work{
	padding: 100px 0 100px 0;
	text-align: center;
}
.our-work h1{
	font-size: 44px;
	font-weight: 300;
	margin-bottom: 30px;
}
.our-work h1 span{
	font-weight: 600;
}
.our-work .underline{
	margin-bottom: 55px;
}
.our-work p.about{
	margin: 0 10px 175px 10px;
}
.our-work img{
	margin: 0 auto;
} 
.our-work img:hover{
	opacity: .8;
} 
.our-work .img-item{
	padding: 15px;
}

/* TESTIMONIALS */

.testimonials{
	text-align: center;
	background-color: #0b0b0b;
	padding: 100px 0 175px 0;
}
.testimonials h1{
	font-size: 44px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}
.testimonials h1 span{
	font-weight: 600;
}
.testimonials .underline{
	margin-bottom: 115px;
}
.testimonials p{
	font-size: 18px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
	margin: 0 10px 10px 10px;
}
.testimonials p.author{
	font-weight: 500;
	text-transform: none;
	color: #b2b2b2;
	margin-top: 40px;
}
.testimonials p.author span{
	font-weight: 600;
}







